.Home {
    display: flex;
    text-align: center;
    width: 100vw;
    height: 100vh;
} 
.right {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: #374C68;
}
.navbar {
    display: flex;
    height: 10vh;
    background-color: #1F2D40;
}

.content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    padding: 20px;
}

.p-dropdown{
    height: 46px;
    display: flex;
    align-items: center;
}
